* {
    margin: 0;
    padding: 0;
}

.App {
    width: 1000px;
    background-color: #efefef;
    height: 500px;
    margin: 100px auto;
}
.select-language {
    font: 15px "Shabnam FD";
    box-sizing: border-box;
    padding: 10px 15px;
}
.select-language span {
    font-weight: bold;
    color: rgb(19, 30, 79);
    margin: 0 10px;
    cursor: pointer;
}
.UserCreate {
    margin-left: 10px;
}
.UserCreate label {
    font: 18px "Shabnam FD";
    display: block;
    font-weight: bold;
}
.UserCreate input {
    width: 300px;
    height: 40px;
    background-color: white;
    border: none;
    font: 14px "Shabnam FD";
    box-sizing: border-box;
    padding: 4px 5px;
    margin: 0 0 10px 0;
}
.UserCreate button {
    background-color: #3655ca;
    box-sizing: border-box;
    padding: 10px 17px;
    font: 14px "Shabnam FD";
    text-align: center;
    color: white;
    border: none;
    margin: 5px 0;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}